@import url('all.css');

.col-lg-12  {
    display: flex;
    justify-content: space-between;
}

.col-lg-12  a {
    align-self: center;
    text-decoration: none;
}


.col-lg-12 i {
    font-size: 2rem;
    cursor: pointer;
    color: var(--gray);
    transition: color .3s;
    position: relative;
}

.col-lg-12 i span {
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--danger);
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
        right: -5px;
        bottom: -5px;
    display: flex;
        justify-content: center;
        align-items: center;
    color: white;
}

.col-lg-12 i:hover, 
.col-lg-12 i.active {
    color: #000;
}

.breadcrumb-option {
    background: #f3f2ee;
    padding: 40px 0;
}
.breadcrumb__links a {
    text-decoration: none;
    color: var(--gray);
}
@media (min-width: 992px) {
    .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    }
}



.product__item {
    max-width: 90% ;
    margin-bottom: 50px;
}

.product__item__pic {
    max-width: 100% ;
    background-color: var(--bg);  
    border-radius: 15px;  
    height: auto;
}

.product__item__pic { 
    height: 100%;
}

.add-cart {
    color: var(--danger);
    cursor: pointer;
    font-weight: bold;
    transition: color .3s;

}

.add-cart:hover,
.add-cart.active {
    color: #000;
}

